appdirs
asttokens
Bottleneck
Brotli
decorator
html5lib
numexpr
numpy
pandas
prompt_toolkit
psutil
python-dateutil
pytz
pywin32==307
pyzmq
requests
setuptools==75.1.0
six
stack-data
tornado
tzdata 
urllib3
wget==3.2
yfinance
boto3
openssl
s3fs

